body {
  margin: 0;
        font-family: Arial, Helvetica, sans-serif;
           }
      .hero-image {
        background-image: url("https://lh3.googleusercontent.com/YeSUvd-roy_5cvo03oxQgONqWq0O1c78E9z1VauGr8cb0EV7p9Zn4mdwPT6vE2RXydkb5Em1L0-awQxNChctk7VQ8SY5zlv-5jv0aY6WODsGy5INnOAJMuTKoyFieSFZa6Psmpqv=w2400");
        background-color: #cccccc;
        height: 768px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
}
