body {
  margin: 0;
        font-family: Arial, Helvetica, sans-serif;
           }
      .hero-image {
        background-image: url("https://lh3.googleusercontent.com/lg6KANO4aQICFiJzK53cOPxbWrR9yiPhIqls5x7quRK52QG9YVoWiKNLbe2HdVkkiR0QyEZErrwnj7WfyMutQEOIlJX3oARCxUtRjDhp5d09WaVRGKuCOp0vJB4gI_Y0UvXokaJ30kBaQocuXGVA2mxI4IJISNkJv_LA-W-UKNfmPZmVi2a-CsZOEB3ijXIDIZoPaOctdgEdCLJJCx756l3R1IqjZsMnB4OquPXq_8UmW4bn5wmMn30c5h_ZhwdUbghLCqiI8toaSyCDK560ZA_8yIh8b9NryXkaPb37lC5Do9TjNqSgLK_RWPWVtCkFkw5vvcG_bJxZE1y2zgMmjIDCDwdJ3hhDDJuCjS8xahhpms8Wjr4Ml6yZVhOhhSlKjR06ctTh9th0xhMXm50iNCtx13Hh7TpHoSoK2r2czAj9rWzd1KgZrMDhnKl44igqDTNYIBFKzlmx-wduOXDJXsd4Vfme5e_a0Ctf-sR7SzgJP-O0129sdptmbCkqcn0xtUdrZhZkEbYDknB6eMOipQXxB9oxOUBdcRTLx7jkzn1Mi1Idl7QnxRMiafJPh4C9gLQKCnpl5MIXkqtnbBgOChs7LymOHPvQuGHDPGJ67zXsRLu-xa_NoMv0uykq78BElmDnPUxIzZ7RN-UfV2ESGuSFb_PWO9LzFcABGOXRS6kI8oYXWaNTwjm84-BSEU-d1D8BSnfk1YjVqxaKFd-TmA=w866-h649-no?authuser=0");
        background-color: #cccccc;
        height: 768px;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
}
